#pade-dev {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-dev aside {
    width: 320px;
    height: 100vh;

    background: var(--color-menu-dark);
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 25px; */
}

#page-dev aside .image-block {
    width: 230px;
    height: 230px;
}

#page-dev aside .image-block img {
    width: 100%;

    border: 1.3px solid #ccc;
    border-radius: 50%;
}

#page-dev aside main .infos h1 {
    color: #fff;
    font: 400 1.6rem 'Roboto', 'sans-serif';
}

#page-dev aside main .infos h2 {
    color: rgb(146, 146, 146);
    font: 400 1.4rem 'Roboto', 'sans-serif';
}

#page-dev aside main .infos p {
    max-width: 260px;
    
    margin-top: 15px;

    color: #ccc;
    font: 300 1rem 'Roboto', 'sans-serif';
}

#page-dev aside footer h3 {
    color: #fff;
    font: 300 1rem 'Roboto', 'sans-serif';
}