#page-landing {
	width: 100%;
	min-height: 100vh;
}
#page-landing main {
	margin-top: 35px;

	border-top: 1.3px solid #ccc;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}