.container-repository {
  border: 2px solid var(--color-menu-dark);
}

.container-repository header h1 {
  color: var(--color-title-blue-dark);
  font: 700 1.6rem "Roboto", "sans-serif";
}

.container-repository main {
  margin-top: 25px;
  width: 100%;
}

.container-repository main p {
  font-size: 1.3rem;
  font-weight: 300;

  width: 100%;
  max-height: 100px;
  overflow: hidden;
}

.container-repository footer {
  position: absolute;
  bottom: 20px;
}
